*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Orbitron',sans-serif;
}

body{
    min-height:100vh;
    background: url("bg2.png");
    background-size:cover;
    background-position:center;
    overflow:hidden;
    color:white;
}

.scanlines{
    position:fixed;
    inset:0;
    background:
    repeating-linear-gradient(
        transparent,
        transparent 2px,
        rgba(0,255,255,.02) 3px
    );
}

.container{
    display:flex;
    height:100vh;
}

.sidebar{
    width:280px;
    padding:30px;
    border-right:
    1px solid rgba(0,217,255,.15);
    backdrop-filter:blur(8px);
}

.logo img{
    width:100%;
    height:100%;
    display:block;
    margin-top: -40px;
    margin-bottom: -100px;
}

.logo span{
    margin-left: 40px;
    color:#00d9ff;
    font-size:12px;
    font-weight:900;
    text-shadow:
    0 0 10px rgba(0,217,255,.5);
}

.menu{
    list-style:none;
    margin-top:50px;
}

.menu li a{
    display:block;
    width:100%;
    height:100%;
    text-decoration:none;
    color:inherit;
}

a{
    text-decoration:none !important;
}

button a {
    display:block;
    width:100%;
    height:100%;
    text-decoration:none;
    color:inherit;
}

.menu li{
    text-decoration:none;
    margin-bottom:18px;
    padding:16px;
    border:
    1px solid rgba(0,217,255,.15);
    cursor:pointer;
    transition:.3s;
}

.menu li:hover,
.menu li.active{
    border-color:#00d9ff;
    box-shadow:
    0 0 15px rgba(0,217,255,.5);
    color:#00d9ff;
}

.status-card{
    margin-top:60px;
    border:
    1px solid rgba(0,217,255,.15);
    padding:20px;
}

.status-card h4{
    font-size:14px;
}

.online{
    margin-top:10px;
    color:#00d9ff;
    font-size:24px;
    letter-spacing:3px;
}

.graph{
    height:80px;
    margin-top:15px;
    border:
    1px solid rgba(255,255,255,.1);
    position:relative;
}

.graph-line{
    width:100%;
    height:2px;
    position:absolute;
    top:50%;
    background:#00d9ff;
    box-shadow:
    0 0 10px #00d9ff;
}

.status-card span{
    display:block;
    text-align:right;
    margin-top:15px;
    color:#00d9ff;
}


.center{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

.welcome{
    position:absolute;
    left:90px;
    z-index:10;
}

.welcome p{
    letter-spacing:8px;
    font-size:18px;
}

.welcome h1{
    margin:15px 0;
    font-size:80px;
    font-weight:800;
    letter-spacing:12px;
    text-shadow:
    0 0 15px rgba(255,255,255,.4),
    0 0 25px rgba(0,217,255,.4);
}

.welcome h3{
    color:#00d9ff;
    margin-bottom:30px;
    font-size:16px;
    font-weight:500;
}

.welcome button{
    padding:18px 55px;
    background:transparent;
    border:1px solid #ff4040;
    color:#ff4040;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

.welcome button:hover{
    background:#ff4040;
    color:white;
    box-shadow:
    0 0 25px #ff4040;
}

.welcome small{
    display:block;
    margin-top:18px;
    color:#ffffff;
}


.right-panel{
    width:260px;
    padding:30px;
    border-left:
    1px solid rgba(0,217,255,.15);
}

.tower-card,
.jarvis-card{
    padding:20px;
    margin-bottom:30px;
    border:
    1px solid rgba(0,217,255,.15);
}

.tower-card h4,
.jarvis-card h4{
    color:#00d9ff;
    margin-bottom:10px;
}

.wave{
    margin-top:20px;
    height:60px;
    background:
    repeating-linear-gradient(
        90deg,
        transparent 0 6px,
        #00d9ff 6px 10px
    );

    animation:wave 1s infinite alternate;
}


@keyframes spin{
    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }
}

@keyframes spinReverse{

    from{
        transform:rotate(360deg);
    }

    to{
        transform:rotate(0deg);
    }
}

@keyframes pulse{

    from{
        transform:scale(.8);
        opacity:1;
    }

    to{
        transform:scale(1.3);
        opacity:0;
    }
}

@keyframes wave{

    from{
        transform:scaleY(.5);
    }

    to{
        transform:scaleY(1);
    }
}