*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Orbitron',sans-serif;
}

body{
height:100vh;
background:
url("bg6.png");
background-size:cover;
background-position:center;
overflow:hidden;
color:white;
}

.scanlines{

position:fixed;
inset:0;

background:
repeating-linear-gradient(
transparent,
transparent 2px,
rgba(0,255,255,.03) 3px
);

pointer-events:none;
}

.container{

height:100vh;

display:flex;
justify-content:center;
align-items:center;
}

.terminal{

width:850px;

padding:40px;

background:
rgba(0, 10, 20, 0.349);

border:2px solid #00d9ff;

box-shadow:
0 0 25px #00d9ff;

text-align:center;
}

h1{
font-size:22px;
color:#ff4d4d;

margin-bottom:25px;

letter-spacing:3px;
}

.message-box{

text-align:left;

border:1px solid #00d9ff;

padding:25px;

height:420px;

overflow-y:auto;

background:
rgba(0, 0, 0, 0.137);
}

pre{

white-space:pre-wrap;

line-height:1.8;

color:#dffcff;
}

#celebrateBtn{

margin-top:25px;

padding:15px 35px;

background:#ff4d4d;

border:none;

color:white;

font-weight:bold;

cursor:pointer;

display:none;
}

#celebrateBtn:hover{

transform:scale(1.05);
}

@keyframes pulse{

0%{

transform:scale(1);

}

50%{

transform:scale(1.08);

}

100%{

transform:scale(1);

}

}